@model Storefront.DATA.EF.Models.MobileSuit

@{
    ViewData["Title"] = "Add New MS";
}

<h1>Create</h1>

@{
    /*
    * CREATE File Upload Steps
    * 1) Add IFormFile property to the partial class of the entity you are creating (here, the example is in DATA.EF/Metadata/Partials.cs)
    * 2) Modify Create View
    *      - Add enctype="multipart/form-data" to the <form> tag
    *      - Comment out the <input> for the original file property (here, it's the <input asp-for="ProductImage")
    *      - Replace with <input type="file" asp-for="[IFormFile property name]" />
    * 3) (ONLY DO THIS IF YOU ARE UPLOADING IMAGES - DOES NOT APPLY TO PDFs, DOCs, etc...)
    *      - Open Package Manager Console and run the command 'install-package System.Drawing.Common'
    *      - Create a folder in the UI project named 'Utilities'
    *      - Add a class to the Utilities folder named 'ImageUtility'
    *      - Copy/paste utility class code, add using statements (refer to class example)
    *      - Add 3 using statements: using System.Drawing; using System.Drawing.2D; using System.Drawing.Imaging;
    * 4) Add code to handle file upload in the Controller (here, it's the Products Create POST action)
    *      - First, add a property for the controller referencing the webHostEnvironment (see ProductsController - top of the class, prop for           webHostEnvironment)
    *      - Add the webHostEnvironment to the constructor in the controller (see ProductsController constructor)
    *      - BIND the IFormFile property in the method signature
    *      - Add logic to process the file upload and save the file name to the db
    *          - the file is saved to the web server (aka the UI project), the file name is copied to the DB server
    */
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniverseId" class="control-label"></label>
                <select asp-for="UniverseId" class ="form-control" asp-items="ViewBag.UniverseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleId" class="control-label"></label>
                <select asp-for="ScaleId" class ="form-control" asp-items="ViewBag.ScaleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StockStatusId" class="control-label"></label>
                <select asp-for="StockStatusId" class ="form-control" asp-items="ViewBag.StockStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StockAmount" class="control-label"></label>
                <input asp-for="StockAmount" class="form-control" />
                <span asp-validation-for="StockAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Msimage" class="control-label"></label>
              @*  <input asp-for="Msimage" class="form-control" />*@
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Msimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
